src/main/mule/sample_github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2ed16c84-9145-4a17-879e-07790b73d3c7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample_githubFlow" doc:id="1fd185e0-d795-4533-ad34-ce99bf004aa8" >
		<http:listener doc:name="Listener" doc:id="5babf9bc-0d7e-419c-9994-fa43b818166d" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value='#["hello,welcome to github"]' doc:name="Set Payload" doc:id="7a16a230-4c39-46b5-91c3-b89e044aa3c5" />
		<logger level="INFO" doc:name="Logger" doc:id="54352e66-8452-438a-9658-f1712b285637" message="#[payload]"/>
	</flow>
</mule>
